/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: no-repeat center/100% url('/assets/cover.jpg');
  background-size: cover;
}
.wrapper {
	/*background-color: #FCFAF7;*/
	padding: 100px;
    width: 100vw;
    height: 100vh;
}

th {
    height: 60px;
    background-color: #F8F5F2;
	border: 1px solid black;
}
#position {
    position: fixed;
    width: 26vw;
}
tr {
    height: 60px;
    background-color: #0069D9;
}

.read {
	background-color: #0069D9;
	border-top: 1px black;
	color: white;
}

.read a{	
	color: white;
	text-decoration: none;
}

.ur {
	background-color: white;
	color: black;
}

.ur a {
	color: black;
	font-weight: bold;
}

#box{
	text-align: center;
}

#delete_email {
	background-color: red;
}

/* bootstrap overwrite :) */
table a:not(.btn), .table a:not(.btn){
	text-decoration: none;
}

.emailcontent {
	padding: 100px;
}
